#div-header {
    background-color: #4C0518;
    opacity: 0.9;
    z-index: -1;
    border-radius: 20px;
    width: auto;
    height: 65px;
}
.navpage {
    color: white;
    box-shadow: none;
    display: inline-flex;
    padding: 8px;
    background-color: #4C0518;
    border-radius: 20px;
    text-decoration: none;
    margin-bottom: 10px;
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    justify-content: center;
    position: sticky;
    margin-left: 70px;
    margin-top: 10px;
    transition: text-shadow 30s ease;
    width: 150px;
    height: 20px;
}

.navpage:hover {
    box-shadow: 0px 0px 20px #A10730;
}

.headings {
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 2px 3px 0 #000;
}

#desc {
    color: white;
    margin-left: 10px;
}
#github_home {
    color: white;
    text-decoration: underline;
}
#introheading {
    font-size: 5em;
    display: inline-block;
    margin-bottom: -15px;
}
#cursor {
    font-size: 5em;
    display: inline-block;
    color: white;
}
#overview {
    background-color: #630720;
    border: 2px, solid, #4C0518;
    height: 300px;
    border-radius: 20px;
    opacity: 0.9;
    width: 1170px;
    float: left;

}
.clearfix {
    clear: both;
}
#overview-heading {
    margin-left: 10px;
}
#banner {
    position: absolute;
    width: 100%;
    height: 400px;
    z-index: -1;
    
}

p, li, #to-about {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
ul {
    position: relative;
    list-style: none;
    margin-left: 0;
    padding-right: 1.2em;
    text-align: left;
    
/* floral hearts unicode number: 2766 */
  
}

li::before {
    content: "\1F394";
    margin: 5px;
}

#dancing {
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border:2px solid #4C0518;
    display: flex;
    float: left;
}
#girldotdotdot {
    width: 300px;
    height: 300px;
    margin-left: 30px;

}

#to-about {
    color: white;
    display: inline-flex;
    position: relative;
    margin-top: 33px;
    margin-right: 2%;
    float: right;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    
    
}
#to-about:hover {
    box-shadow: 0px 0px 40px #A10730;
}

#leftcorner {
    z-index: -1;
    position: absolute;
    height: 300px;
    opacity: 0.7;
    margin-top: -230px;
    width: 1600px;
}

#footerbg {
    background-color: #630720;
    opacity: 0.9;
    width: auto;
    height: 100px;
    border-radius: 20px;
    margin-top: 100px;

}

#footerdesc {
    text-align: center;
}
html {
    /*This will be the background photo of every page in the portfolio */
    background-image: url("/photos/bannerbetter.jpeg");
}
