#div-header {
    background-color: #4C0518;
    opacity: 0.9;
    z-index: -1;
    border-radius: 20px;
    width: auto;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navpage {
    color: white;
    box-shadow: none;
    display: inline-flex;
    padding: 8px;
    background-color: #4C0518;
    border-radius: 20px;
    text-decoration: none;
    margin-bottom: 10px;
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    justify-content: center;
    position: sticky;
    margin-top: 10px;
    width: 150px;
    height: 20px;
    transition-property: box-shadow;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.navpage:hover {
    box-shadow: 0px 0px 20px #A10730;
}

.headings {
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 2px 3px 0 #000;
}


html::-webkit-scrollbar {
    width: 15px
}
html::-webkit-scrollbar-track{
    background:#4C0518;
}

html::-webkit-scrollbar-thumb {
    background-color: #F4ECE1;
    border-radius: 15px;
    border:3px solid #630720;
}

html::-webkit-scrollbar-thumb:hover {
    background: #EDD4B2;
}


#desc {
    color: white;
    margin-left: 10px;
}
#about {
    background-color: #630720;
    opacity: 0.9;
    z-index: -1;
    border-radius: 20px;
    width: auto;
    height: 500px;

}
#paragraphaboutme {
    padding-top: 30px;
    margin-left: 30px;
    margin-right: 30px;


}
#github_home {
    color: white;
    text-decoration: underline;
}
#introheading, #aboutmeheading, #extracurricularsheading, #hobbiesheading, #linksheading {
    font-size: 5em;
    display: inline-block;
    margin-bottom: -15px;
}

#projectsheading {
    font-size: 5em;
    display: inline-block;
    margin-bottom: 10px;
}

#projects {
    background-color: rgba(99, 7, 32, 0.9); /* #630720 */
    z-index: -1;
    border-radius: 20px;
    width: auto;
    height: 150vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10%;
}

.projects {
    width: 20%;
    height: 45%;
    background-color: #4C0518;
    border-radius: 20px;
    display: inline-block;
    margin-top: 75px;
    box-shadow: none;
    border: 15px solid #4C0518;
    transition: margin-top 2s, box-shadow 2s;
}

.projects:hover {
    margin-top: 10px;
    box-shadow:0px 0px 40px#D70940
}
.project-photos {
    width: 100%;
    height: 50%;
    opacity: 1;
    border-radius: 15px 15px 0px 0px;
}
.projectdescriptions {
    text-align: center;
}
.projectheadings {
    font-size: 30px;
    margin-bottom: -10px;
}
#tolordsstaffgithub, #topersonalgithub {
    transition-property: text-shadow;
    transition-duration: 2s;
    transition-timing-function: ease;
}

#tolordsstaffgithub:hover, #topersonalgithub:hover {
    text-shadow: 4px 4px 9px #F6285F;
}

#cursor {
    font-size: 5em;
    display: inline-block;
    color: white;
}
#overview {
    background-color: #630720;
    border: 2px, solid, #4C0518;
    height: 300px;
    border-radius: 20px;
    opacity: 0.9;
    width: 75%;
    float: left;

}
.clearfix {
    clear: both;
}


#overview-heading {
    margin-left: 10px;
}
#banner {
    position: absolute;
    width: stretch;
    height: 400px;
    z-index: -1;
    
}

/* Extracurriculars */
#extradiv {
    background-color: rgba(99, 7, 32, 0.9); /* #630720 */
    z-index: -1;
    border-radius: 20px;
    width: 100%;
    height: 600px;
    display: flex;
}
.extrabutton {
    margin-top: 50px;
    transition: height 2s ease-in-out, box-shadow 2s ease-in;
    text-align: center;
    background-color: #4C0518;
    box-shadow: none;
    overflow: hidden;
    height: 100px;
    width: 200px;
    border-radius: 10px;
    margin-left: 5.5vw;
}
.information {
    margin-top: 80px;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}
.extrabutton:hover {
    height: 75%;
    box-shadow: 0px 0px 40px #D70940;
}
.extraheadings {
    justify-content: center;
    
}

#info {
    width: 100%;
    display: grid;
    place-items: center;
    position: absolute;
    font-size: 2em;
    margin-bottom: 25%;
}
    
/* -------End----------*/
/*     Hobbies and Interests      */
#hobbiesdiv {
    width: 100%;
    background-color: rgba(99, 7, 32, 0.9);
    height: 650px;
    z-index: -1;
    border-radius: 20px;
}
.hobbyheadings {
    margin-left: 20px;
}

#hobbiessection {
    padding-top: 20px;
}
/* ---------End---------------*/
/* ---------Links-----------*/
#linksdiv {
    width: 100%;
    background-color: rgba(99, 7, 32, 0.9);
    height: 570px;
    z-index: -1;
    border-radius: 20px;
}
#firstlink {
    padding-top: 30px;
    margin-left: 20px;
}
.toweblinks {
    font-size: 2em;
    margin-left: 3%;
}
#thanks {
    margin-left: 30px;
    margin-top: 250px;
}
/* --------End-----------------*/
p, li, a {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
ul {
    position: relative;
    list-style: none;
    margin-left: 0;
    padding-right: 1.2em;
    text-align: left;
    
/* floral hearts unicode number: 2766 */
  
}

li::before {
    content: "\1F394";
    margin: 5px;
}

#dancing {
    background-color: white;
    width: 24%;
    height: 300px;
    border-radius: 20px;
    border:2px solid #4C0518;
    display: flex;
    float: left;
}
#girldotdotdot {
    width: 100%;
    height: 300px;
    margin-left: 30px;

}

#to-next {
    display: inline-flex;
    position: relative;
    margin-top: 33px;
    margin-right: 2%;
    float: right;
    height: auto;
    width: auto;
    border-radius: 10px;
    text-decoration: none;
    transition-property: box-shadow;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#to-next:hover {
    box-shadow: 0px 0px 40px #D70940;
}
#to-before {
    display: inline-flex;
    position: relative;
    margin-top: 33px;
    margin-left: 2%;
    float: left;
    height: auto;
    width: auto;
    border-radius: 10px;
    text-decoration: none;
    transition-property: box-shadow;
    transition-duration: 1s;
    transition-timing-function: ease;
}
#to-before:hover {
    box-shadow: 0px 0px 40px #D70940;

}

#footerbg {
    background-color: #630720;
    opacity: 0.9;
    width: auto;
    height: 100px;
    border-radius: 20px;
    margin-top: 50px;
    border:#4C0518 2px solid;

}

#footerdesc {
    text-align: center;
}

html {
    /*This will be the background photo of every page in the portfolio */
    background-image: url("./photos/bannerbetter.jpeg");
    background-size: cover;
}
