#div-header {
    background-color: #4C0518;
    opacity: 0.9;
    z-index: -1;
    border-radius: 20px;
    width: auto;
    height: 65px;
}
.navpage {
    color: white;
    box-shadow: none;
    display: inline-flex;
    padding: 8px;
    background-color: #4C0518;
    border-radius: 20px;
    text-decoration: none;
    margin-bottom: 10px;
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    justify-content: center;
    position: sticky;
    margin-left: 70px;
    margin-top: 10px;
    width: 150px;
    height: 20px;
    transition-property: box-shadow;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.navpage:hover {
    box-shadow: 0px 0px 20px #A10730;
}

.headings {
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 2px 3px 0 #000;
}


html::-webkit-scrollbar {
    width: 15px
}
html::-webkit-scrollbar-track{
    background:#4C0518;
}

html::-webkit-scrollbar-thumb {
    background-color: #F4ECE1;
    border-radius: 15px;
    border:3px solid #630720;
}

html::-webkit-scrollbar-thumb:hover {
    background: #EDD4B2;
}

body::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid orange;  /* creates padding around scroll thumb */
}
#desc {
    color: white;
    margin-left: 10px;
}
#about {
    background-color: #630720;
    opacity: 0.9;
    z-index: -1;
    border-radius: 20px;
    width: auto;
    height: 500px;

}
#paragraphaboutme {
    padding-top: 30px;
    margin-left: 30px;
    margin-right: 30px;


}
#github_home {
    color: white;
    text-decoration: underline;
}
#introheading {
    font-size: 5em;
    display: inline-block;
    margin-bottom: -15px;
}

#aboutmeheading {
    font-size: 5em;
    display: inline-block;
    margin-bottom: -15px;
}

#projectsheading {
    font-size: 5em;
    display: inline-block;
    margin-bottom: 10px;
}

#projects {
    background-color: rgba(99, 7, 32, 0.9); /* #630720 */
    z-index: -1;
    border-radius: 20px;
    width: auto;
    height: 500px;
}

#project1 {
    width: 450px;
    height: 450px;
    background-color: #4C0518;
    border-radius: 20px;
    float: left;
    margin-left: 70px;
    margin-top: 2%;
    
    
}

#lordscode {
    width: 100%;
    height: 50%;
    opacity: 1;
    border-radius: 15px 15px 0px 0px;
}
#staffdesc {
    text-align: center;
}
#staffheading {
    font-size: 30px;
    margin-bottom: -10px;
}
#cursor {
    font-size: 5em;
    display: inline-block;
    color: white;
}
#overview {
    background-color: #630720;
    border: 2px, solid, #4C0518;
    height: 300px;
    border-radius: 20px;
    opacity: 0.9;
    width: 1170px;
    float: left;

}
.clearfix {
    clear: both;
}


#overview-heading {
    margin-left: 10px;
}
#banner {
    position: absolute;
    width: stretch;
    height: 400px;
    z-index: -1;
    
}

p, li, a {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: "Winky Rough", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
ul {
    position: relative;
    list-style: none;
    margin-left: 0;
    padding-right: 1.2em;
    text-align: left;
    
/* floral hearts unicode number: 2766 */
  
}

li::before {
    content: "\1F394";
    margin: 5px;
}

#dancing {
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border:2px solid #4C0518;
    display: flex;
    float: left;
}
#girldotdotdot {
    width: 300px;
    height: 300px;
    margin-left: 30px;

}

#to-next {
    display: inline-flex;
    position: relative;
    margin-top: 33px;
    margin-right: 2%;
    float: right;
    height: auto;
    width: auto;
    border-radius: 10px;
    text-decoration: none;
    transition-property: box-shadow;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#to-next:hover {
    box-shadow: 0px 0px 40px #D70940;
}
#to-before {
    display: inline-flex;
    position: relative;
    margin-top: 33px;
    margin-left: 2%;
    float: left;
    height: auto;
    width: auto;
    border-radius: 10px;
    text-decoration: none;
    transition-property: box-shadow;
    transition-duration: 1s;
    transition-timing-function: ease;
}
#to-before:hover {
    box-shadow: 0px 0px 40px #D70940;

}

#footerbg {
    background-color: #630720;
    opacity: 0.9;
    width: auto;
    height: 100px;
    border-radius: 20px;
    margin-top: 50px;
    border:#4C0518 2px solid;

}

#footerdesc {
    text-align: center;
}
html {
    /*This will be the background photo of every page in the portfolio */
    background-image: url("/photos/bannerbetter.jpeg");
}
